In [1]:
# Importing Packages

# Data analysis and  wrangling
import pandas as pd
import numpy as np

# Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# importing the data  file
filename='./weather_underground.csv'
df=pd.read_csv(filename)

# view top rows of the Dataframe
df.head()

,date,maxpressurem,maxdewptm,maxpressurei,maxdewpti,since1julheatingdegreedaysnormal,heatingdegreedaysnormal,since1sepcoolingdegreedaysnormal,hail,since1julsnowfallm,...,precipi,snowfalli,since1jancoolingdegreedaysnormal,precipm,snowfallm,thunder,monthtodateheatingdegreedays,meantempi,maxvism,meantempm
0,2011-05-01,1026,6,30.31,42,4646,8,NaN,0,157.23,...,0.0,0.0,13,0.0,0.0,0,5,60,16,16
1,2011-05-02,1026,10,30.31,50,4653,7,NaN,0,157.23,...,0.0,0.0,14,0.0,0.0,0,13,57,16,14
2,2011-05-03,1021,15,30.14,59,4660,7,NaN,0,157.23,...,0.0,0.0,15,0.0,0.0,0,13,65,16,18
3,2011-05-04,1017,14,30.03,57,4667,7,NaN,0,157.23,...,0.5,0.0,16,12.7,0.0,0,23,55,16,13
4,2011-05-05,1016,4,30.01,39,4673,6,NaN,0,157.23,...,0.0,0.0,17,0.0,0.0,0,32,56,16,13

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 70 columns):
date                                  30 non-null object
maxpressurem                          30 non-null int64
maxdewptm                             30 non-null int64
maxpressurei                          30 non-null float64
maxdewpti                             30 non-null int64
since1julheatingdegreedaysnormal      30 non-null int64
heatingdegreedaysnormal               30 non-null int64
since1sepcoolingdegreedaysnormal      0 non-null float64
hail                                  30 non-null int64
since1julsnowfallm                    30 non-null float64
since1julheatingdegreedays            30 non-null int64
maxvisi                               30 non-null int64
since1sepheatingdegreedaysnormal      0 non-null float64
heatingdegreedays                     30 non-null int64
mindewptm                             30 non-null int64
since1sepheatingdegreedays            0 non-null float64
maxwspdm                              30 non-null int64
since1julsnowfalli                    30 non-null float64
since1sepcoolingdegreedays            0 non-null float64
snow                                  30 non-null int64
meanvism                              30 non-null int64
meandewptm                            30 non-null int64
snowdepthm                            29 non-null float64
meanvisi                              30 non-null int64
fog                                   30 non-null int64
snowdepthi                            29 non-null float64
minvism                               30 non-null int64
since1jancoolingdegreedays            30 non-null int64
minvisi                               30 non-null int64
coolingdegreedaysnormal               30 non-null int64
gdegreedays                           30 non-null int64
maxwspdi                              30 non-null int64
meanwindspdi                          30 non-null int64
meanpressurei                         30 non-null float64
monthtodateheatingdegreedaysnormal    30 non-null int64
meanwindspdm                          30 non-null int64
meanpressurem                         30 non-null int64
tornado                               30 non-null int64
mindewpti                             30 non-null int64
mintempi                              30 non-null int64
meandewpti                            30 non-null int64
rain                                  30 non-null int64
mintempm                              30 non-null int64
minhumidity                           30 non-null int64
precipsource                          0 non-null float64
minwspdi                              30 non-null int64
meanwdird                             30 non-null int64
meanwdire                             0 non-null float64
minwspdm                              30 non-null int64
monthtodatesnowfalli                  30 non-null float64
monthtodatecoolingdegreedaysnormal    30 non-null int64
monthtodatesnowfallm                  30 non-null float64
maxhumidity                           30 non-null int64
coolingdegreedays                     30 non-null int64
maxtempm                              30 non-null int64
minpressurei                          30 non-null float64
monthtodatecoolingdegreedays          30 non-null int64
maxtempi                              30 non-null int64
minpressurem                          30 non-null int64
humidity                              0 non-null float64
precipi                               30 non-null float64
snowfalli                             30 non-null float64
since1jancoolingdegreedaysnormal      30 non-null int64
precipm                               30 non-null float64
snowfallm                             30 non-null float64
thunder                               30 non-null int64
monthtodateheatingdegreedays          30 non-null int64
meantempi                             30 non-null int64
maxvism                               30 non-null int64
meantempm                             30 non-null int64
dtypes: float64(20), int64(49), object(1)
memory usage: 16.5+ KB

In [10]:
df['date']=pd.to_datetime(df['date'])

In [11]:
# creating a function to calculate number of rainy days
import pandasql

def num_rainy_days(filename):
    weather_data=pd.read_csv(filename)
      
    # using pandasql to execute a sql query on the pandas dataframe
    
    # defining the query:q
    q="select sum(rain) from weather_data"
    
    # Execute the SQL command against the dataframe
    rainy_days=pandasql.sqldf(q,locals())
    
    return rainy_days

In [12]:
rainy_days=num_rainy_days(filename)
rainy_days

   sum(rain)
0         10

In [13]:
# creating a function to identify the max temperature for fog

def max_temp_aggregate_by_fog(filename):
    weather_data=pd.read_csv(filename)
      
    # using pandasql to execute a sql query on the pandas dataframe
    
    # defining the query:q
    q="select fog, max(maxtempi) from weather_data group by fog"
    
    # Execute the SQL command against the dataframe
    foggy_days=pandasql.sqldf(q,locals())
    
    return foggy_days

In [14]:
max_temp_aggregate_by_fog(filename)

   fog  max(maxtempi)
0    0             86
1    1             81

In [15]:
# Calculating average weekend temperature
df['meantempi'][df['date'].dt.dayofweek.isin([5,6])].mean()

65.11111111111111

In [16]:
# Calculating average minimum temperature in rainy days where the minimum temperature was greater than 55
df['mintempi'][(df['rain']==1)&(df['mintempi']>55)].mean()

61.25

In [17]:
import csv

In [31]:
f_in=open('./turnstile-110528.txt','r')
f_out=open('./updated_'+'turnstile-110528.csv','w')

In [32]:
reader=csv.reader(f_in,delimiter=',')
writer=csv.writer(f_out,delimiter=',')

In [33]:
for line in reader:
    row_lenght=len(line)
    rec_lenght=5
    prefix=line[:3]
    for record in range(3,row_lenght,rec_lenght):
        line_out=prefix+line[record:record+5]
        writer.writerow(line_out)

In [64]:
df=pd.read_csv('./updated_turnstile-110528.csv',header=None,
               names=['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn'])

In [40]:
# Creating column to identify the hourly enteries
# Calculated by getting the difference for each ENTRIESn row with the row above
df['ENTRIESn_hourly']=(df['ENTRIESn']-df['ENTRIESn'].shift(1)).fillna(1)

In [42]:
# Creating column to identify the hourly exits
# Calculated by getting the difference for each exitsn row with the row above
df['EXITSn_hourly']=(df['EXITSn']-df['EXITSn'].shift(1)).fillna(0)

In [67]:
# Given the time variable extract the hour part
df['Hour']=(df['TIMEn'].str[:2]).astype(int)

In [68]:
df

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,Hour
0,A002,R051,02-00-00,05-21-11,00:00:00,REGULAR,3169391,1097585,0
1,A002,R051,02-00-00,05-21-11,04:00:00,REGULAR,3169415,1097588,4
2,A002,R051,02-00-00,05-21-11,08:00:00,REGULAR,3169431,1097607,8
3,A002,R051,02-00-00,05-21-11,12:00:00,REGULAR,3169506,1097686,12
4,A002,R051,02-00-00,05-21-11,16:00:00,REGULAR,3169693,1097734,16
5,A002,R051,02-00-00,05-21-11,20:00:00,REGULAR,3169998,1097769,20
6,A002,R051,02-00-00,05-22-11,00:00:00,REGULAR,3170119,1097792,0
7,A002,R051,02-00-00,05-22-11,04:00:00,REGULAR,3170146,1097801,4
8,A002,R051,02-00-00,05-22-11,08:00:00,REGULAR,3170164,1097820,8
9,A002,R051,02-00-00,05-22-11,12:00:00,REGULAR,3170240,1097867,12
10,A002,R051,02-00-00,05-22-11,16:00:00,REGULAR,3170388,1097912,16
11,A002,R051,02-00-00,05-22-11,20:00:00,REGULAR,3170611,1097941,20
12,A002,R051,02-00-00,05-23-11,00:00:00,REGULAR,3170695,1097964,0
13,A002,R051,02-00-00,05-23-11,04:00:00,REGULAR,3170701,1097964,4
14,A002,R051,02-00-00,05-23-11,08:00:00,REGULAR,3170746,1098069,8
15,A002,R051,02-00-00,05-23-11,12:00:00,REGULAR,3170897,1098378,12
16,A002,R051,02-00-00,05-23-11,16:00:00,REGULAR,3171194,1098447,16
17,A002,R051,02-00-00,05-23-11,20:00:00,REGULAR,3172059,1098511,20
18,A002,R051,02-00-00,05-24-11,00:00:00,REGULAR,3172200,1098528,0
19,A002,R051,02-00-00,05-24-11,04:00:00,REGULAR,3172214,1098529,4
20,A002,R051,02-00-00,05-24-11,08:00:00,REGULAR,3172266,1098628,8
21,A002,R051,02-00-00,05-24-11,12:00:00,REGULAR,3172407,1098952,12
22,A002,R051,02-00-00,05-24-11,16:00:00,REGULAR,3172689,1099010,16
23,A002,R051,02-00-00,05-24-11,20:00:00,REGULAR,3173590,1099055,20
24,A002,R051,02-00-00,05-25-11,00:00:00,REGULAR,3173803,1099079,0
25,A002,R051,02-00-00,05-25-11,04:00:00,REGULAR,3173826,1099081,4
26,A002,R051,02-00-00,05-25-11,08:00:00,REGULAR,3173873,1099178,8
27,A002,R051,02-00-00,05-25-11,12:00:00,REGULAR,3174022,1099496,12
28,A002,R051,02-00-00,05-25-11,16:00:00,REGULAR,3174309,1099572,16
29,A002,R051,02-00-00,05-25-11,20:00:00,REGULAR,3175172,1099651,20
...,...,...,...,...,...,...,...,...,...
7303,A042,R086,01-00-04,05-21-11,12:00:00,REGULAR,911054,4160669,12
7304,A042,R086,01-00-04,05-21-11,16:00:00,REGULAR,911308,4162358,16
7305,A042,R086,01-00-04,05-21-11,20:00:00,REGULAR,911720,4163790,20
7306,A042,R086,01-00-04,05-22-11,00:00:00,REGULAR,911877,4164296,0
7307,A042,R086,01-00-04,05-22-11,04:00:00,REGULAR,911915,4164362,4
7308,A042,R086,01-00-04,05-22-11,08:00:00,REGULAR,911918,4164459,8
7309,A042,R086,01-00-04,05-22-11,12:00:00,REGULAR,911952,4165196,12
7310,A042,R086,01-00-04,05-22-11,16:00:00,REGULAR,912149,4166500,16
7311,A042,R086,01-00-04,05-22-11,20:00:00,REGULAR,912511,4167549,20
7312,A042,R086,01-00-04,05-23-11,00:00:00,REGULAR,912606,4167828,0
7313,A042,R086,01-00-04,05-23-11,04:00:00,REGULAR,912616,4167855,4
7314,A042,R086,01-00-04,05-23-11,08:00:00,REGULAR,912622,4168025,8
7315,A042,R086,01-00-04,05-23-11,12:00:00,REGULAR,912679,4168923,12
7316,A042,R086,01-00-04,05-23-11,16:00:00,REGULAR,912843,4169719,16
7317,A042,R086,01-00-04,05-23-11,20:00:00,REGULAR,913194,4170521,20
7318,A042,R086,01-00-04,05-24-11,00:00:00,REGULAR,913291,4170682,0
7319,A042,R086,01-00-04,05-24-11,04:00:00,REGULAR,913300,4170711,4
7320,A042,R086,01-00-04,05-24-11,08:00:00,REGULAR,913309,4170890,8
7321,A042,R086,01-00-04,05-24-11,12:00:00,REGULAR,913360,4171856,12
7322,A042,R086,01-00-04,05-24-11,16:00:00,REGULAR,913536,4172582,16
7323,A042,R086,01-00-04,05-24-11,20:00:00,REGULAR,913892,4173464,20
7324,A042,R086,01-00-04,05-25-11,00:00:00,REGULAR,914006,4173624,0
7325,A042,R086,01-00-04,05-25-11,04:00:00,RECOVR,914020,4173655,4
7326,A042,R086,01-00-04,05-25-11,04:00:00,AUD,914020,4173655,4
7327,A042,R086,01-00-04,05-25-11,08:00:00,REGULAR,914027,4173813,8
7328,A042,R086,01-00-04,05-25-11,12:00:00,REGULAR,914087,4174759,12
7329,A042,R086,01-00-04,05-25-11,16:00:00,REGULAR,914262,4175544,16
7330,A042,R086,01-00-04,05-25-11,20:00:00,REGULAR,914686,4176445,20
7331,A042,R086,01-00-04,05-26-11,00:00:00,REGULAR,914808,4176633,0
7332,A042,R086,01-00-04,05-26-11,04:00:00,REGULAR,914822,4176664,4

In [70]:
df['DATEn']=pd.to_datetime(df['DATEn'])

In [71]:
df

,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn,Hour
0,A002,R051,02-00-00,2011-05-21,00:00:00,REGULAR,3169391,1097585,0
1,A002,R051,02-00-00,2011-05-21,04:00:00,REGULAR,3169415,1097588,4
2,A002,R051,02-00-00,2011-05-21,08:00:00,REGULAR,3169431,1097607,8
3,A002,R051,02-00-00,2011-05-21,12:00:00,REGULAR,3169506,1097686,12
4,A002,R051,02-00-00,2011-05-21,16:00:00,REGULAR,3169693,1097734,16
5,A002,R051,02-00-00,2011-05-21,20:00:00,REGULAR,3169998,1097769,20
6,A002,R051,02-00-00,2011-05-22,00:00:00,REGULAR,3170119,1097792,0
7,A002,R051,02-00-00,2011-05-22,04:00:00,REGULAR,3170146,1097801,4
8,A002,R051,02-00-00,2011-05-22,08:00:00,REGULAR,3170164,1097820,8
9,A002,R051,02-00-00,2011-05-22,12:00:00,REGULAR,3170240,1097867,12
10,A002,R051,02-00-00,2011-05-22,16:00:00,REGULAR,3170388,1097912,16
11,A002,R051,02-00-00,2011-05-22,20:00:00,REGULAR,3170611,1097941,20
12,A002,R051,02-00-00,2011-05-23,00:00:00,REGULAR,3170695,1097964,0
13,A002,R051,02-00-00,2011-05-23,04:00:00,REGULAR,3170701,1097964,4
14,A002,R051,02-00-00,2011-05-23,08:00:00,REGULAR,3170746,1098069,8
15,A002,R051,02-00-00,2011-05-23,12:00:00,REGULAR,3170897,1098378,12
16,A002,R051,02-00-00,2011-05-23,16:00:00,REGULAR,3171194,1098447,16
17,A002,R051,02-00-00,2011-05-23,20:00:00,REGULAR,3172059,1098511,20
18,A002,R051,02-00-00,2011-05-24,00:00:00,REGULAR,3172200,1098528,0
19,A002,R051,02-00-00,2011-05-24,04:00:00,REGULAR,3172214,1098529,4
20,A002,R051,02-00-00,2011-05-24,08:00:00,REGULAR,3172266,1098628,8
21,A002,R051,02-00-00,2011-05-24,12:00:00,REGULAR,3172407,1098952,12
22,A002,R051,02-00-00,2011-05-24,16:00:00,REGULAR,3172689,1099010,16
23,A002,R051,02-00-00,2011-05-24,20:00:00,REGULAR,3173590,1099055,20
24,A002,R051,02-00-00,2011-05-25,00:00:00,REGULAR,3173803,1099079,0
25,A002,R051,02-00-00,2011-05-25,04:00:00,REGULAR,3173826,1099081,4
26,A002,R051,02-00-00,2011-05-25,08:00:00,REGULAR,3173873,1099178,8
27,A002,R051,02-00-00,2011-05-25,12:00:00,REGULAR,3174022,1099496,12
28,A002,R051,02-00-00,2011-05-25,16:00:00,REGULAR,3174309,1099572,16
29,A002,R051,02-00-00,2011-05-25,20:00:00,REGULAR,3175172,1099651,20
...,...,...,...,...,...,...,...,...,...
7303,A042,R086,01-00-04,2011-05-21,12:00:00,REGULAR,911054,4160669,12
7304,A042,R086,01-00-04,2011-05-21,16:00:00,REGULAR,911308,4162358,16
7305,A042,R086,01-00-04,2011-05-21,20:00:00,REGULAR,911720,4163790,20
7306,A042,R086,01-00-04,2011-05-22,00:00:00,REGULAR,911877,4164296,0
7307,A042,R086,01-00-04,2011-05-22,04:00:00,REGULAR,911915,4164362,4
7308,A042,R086,01-00-04,2011-05-22,08:00:00,REGULAR,911918,4164459,8
7309,A042,R086,01-00-04,2011-05-22,12:00:00,REGULAR,911952,4165196,12
7310,A042,R086,01-00-04,2011-05-22,16:00:00,REGULAR,912149,4166500,16
7311,A042,R086,01-00-04,2011-05-22,20:00:00,REGULAR,912511,4167549,20
7312,A042,R086,01-00-04,2011-05-23,00:00:00,REGULAR,912606,4167828,0
7313,A042,R086,01-00-04,2011-05-23,04:00:00,REGULAR,912616,4167855,4
7314,A042,R086,01-00-04,2011-05-23,08:00:00,REGULAR,912622,4168025,8
7315,A042,R086,01-00-04,2011-05-23,12:00:00,REGULAR,912679,4168923,12
7316,A042,R086,01-00-04,2011-05-23,16:00:00,REGULAR,912843,4169719,16
7317,A042,R086,01-00-04,2011-05-23,20:00:00,REGULAR,913194,4170521,20
7318,A042,R086,01-00-04,2011-05-24,00:00:00,REGULAR,913291,4170682,0
7319,A042,R086,01-00-04,2011-05-24,04:00:00,REGULAR,913300,4170711,4
7320,A042,R086,01-00-04,2011-05-24,08:00:00,REGULAR,913309,4170890,8
7321,A042,R086,01-00-04,2011-05-24,12:00:00,REGULAR,913360,4171856,12
7322,A042,R086,01-00-04,2011-05-24,16:00:00,REGULAR,913536,4172582,16
7323,A042,R086,01-00-04,2011-05-24,20:00:00,REGULAR,913892,4173464,20
7324,A042,R086,01-00-04,2011-05-25,00:00:00,REGULAR,914006,4173624,0
7325,A042,R086,01-00-04,2011-05-25,04:00:00,RECOVR,914020,4173655,4
7326,A042,R086,01-00-04,2011-05-25,04:00:00,AUD,914020,4173655,4
7327,A042,R086,01-00-04,2011-05-25,08:00:00,REGULAR,914027,4173813,8
7328,A042,R086,01-00-04,2011-05-25,12:00:00,REGULAR,914087,4174759,12
7329,A042,R086,01-00-04,2011-05-25,16:00:00,REGULAR,914262,4175544,16
7330,A042,R086,01-00-04,2011-05-25,20:00:00,REGULAR,914686,4176445,20
7331,A042,R086,01-00-04,2011-05-26,00:00:00,REGULAR,914808,4176633,0
7332,A042,R086,01-00-04,2011-05-26,04:00:00,REGULAR,914822,4176664,4